#nn{

    


}

#mm{

    margin: auto;
    margin-left:10px;
}
#yy{
    margin-top: 0%;
    margin-left: 0px;
    margin-right:600px;
        color: red;
   background-color: blue; 
   font-size: larger;
}
#vv{ 



    background-color: red;
}
#CC{
 margin-top: 0%;
margin-left: 500px;
margin-right:600px;
    color: red;

  font-size: 5px;
  size:200px ;
}